<!DOCTYPE html>
<html>
<head>
  <title>Posts</title>
  <link rel="stylesheet" href="/styles/style.css">
</head>
<body>
  <%- include('partials/header') %>
  <h1>Posts</h1>
  <ul>
    <% posts.forEach(post => { %>
      <li>
        <a href="/posts/<%= post.id %>">
          <img src="<%= post.imagePath %>" alt="Post Image" width="100">
          <p><%= post.description %></p>
        </a>
      </li>
    <% }) %>
  </ul>
  <a href="/posts/create">Create a new post</a>
  <%- include('partials/footer') %>
</body>
</html>